body {
    background-image: url('../assets/image/background1.png'); /* 画像ファイル名を指定 */
    background-size: auto 1200px; /* 画像のサイズを指定 */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    background-position: center top;
    background-color: #000000;
}
.navbar img{
    width: 25vw;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vw 0.4vw;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 2vw;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.menu a:hover {
    color: #ffcc00; /* ホバー時の色を変更 */
}

/*--welcomeText--*/

.welcomeArea {
    display: flex;
    justify-content: flex-start;
    height: 1150px;
    padding: 10px;
}
.welcomeTextArea {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
}
.welcome-text {
    position: absolute;
    font-size: 2.5rem;
    transition: font-size 0.8s ease;
    transition: color 0.8s ease;
    transition: all 1.5s ease;;
    color: #ffffff;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 50%;
}
.welcome-text.active {
    font-size: 7rem;
    font-weight: bold;
    background-color: rgba(0, 200, 255, 0.5);
    border-radius: 50%;
}
.welcomeDescriptionArea {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 自身の幅と高さの50%分だけ移動して中央揃え */
    background-color: rgba(0, 0, 255, 0.5); /* 背景色を指定 */
    border-radius: 90%;
    flex: 1;
    font-size: 3.3rem;
    text-align: center;
    color: #ffffff;
}

.locationArea {
    padding: 1vw;
}
.locationArea-content {
    justify-content: space-between;
    align-items: flex-start;
}
.locationArea-subtitle {
    color: #ffff00;
    display: inline;;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    font-weight: 1000;
    font-size: 7rem;
}
.locationArea-text {
    color: #fff;
    margin: 0;
    margin-top: 1vw;
    font-size: 4rem;
}
.locationTextArea-text {
        width: 90%;
}
.locationArea-map {
    width: 100%;
    height: 50vw;
    margin: 1vw;
}

.membersArea {
    padding: 1vw;
}
.membersArea-content {
    width: 100%;
}
.membersArea-subtitle {
    color: #ffff00;
    display: inline;;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    font-weight: 1000;
    font-size: 7rem;
}
.memberCard {
    width: 100%;
    border-radius: 1vw;
    background-color: #333333;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
    border-style: solid;
    margin: 0.5vw 1vw;
    padding: 1vw;
}
.memberName {
    color: #dd0000;
    font-weight: 1000;
    margin: 0 1vw;
    font-size: 4rem;
}
.memberText {
    color: #fff;
    margin: 0 1vw;
    font-size: 3rem;
}

.AwardsArea {
    padding: 1vw;
}
.AwardsArea-subtitle {
    color: #ffff00;
    display: inline;;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    font-weight: 1000;
    font-size: 7rem;
}
.AwardsArea-contest {
    color: #dd0000;
    font-weight: 1000;
    margin: 0 1vw;
    margin-left: 4vw;
    font-size: 4rem;
}
.AwardsArea-box {
    width: 100%;
    border-radius: 1vw;
    background-color: #333333;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
    border-style: solid;
    margin: 0.5vw 1vw;
    padding: 1vw;
}
.AwardsArea-award {
    color: #fff;
    margin: 0 1vw;
    margin-left: 6vw;
    font-size: 3rem;   
}

.homePageDesplayButton {
    background-color: #222222;
    margin: 1vw 0.1vw 1vw 2vw;
    color: #ffffff;
    font-size: 4vw;
    border-radius: 2vw;
    padding: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
    width:100%;
}

.sponsorArea {
    border-radius: 1vw;
    padding: 1vw;
    width: 102vw;
    
}
.sponsorArea-subtitle {
    color: #ffff00;
    display: inline;;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    font-weight: 1000;
    font-size: 7rem;
}
.sponsorArea-content {
    background-color: #222222;
    margin: 1vw 0.1vw 1vw 2vw;
    color: #ffffff;
    font-size: 4vw;
    border-radius: 2vw;
    padding: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
    width:100%;
}
.sponsorLogo {
    width: 30vw;
}
.support-member-subtitle {
    color: #fff;
    font-size: 3rem;
}

.footer {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 1vw 0;
    margin-left: -3vw;
    margin-bottom: -3vw;
    font-size: 2vw;
    width: 102vw;
}

.movable-pop {
    position: absolute; /* fixed → absolute に変更 */
    width: 33vw;
    min-width: 250px;
    max-width: 500px;
    background: #FF0066;
    border-radius: 2vw;
    box-shadow: 0 1.5vw 3vw 0 rgba(0, 0, 255, 0.55) ;
    align-items: center;
    text-align: center;
    z-index: 9999;
    cursor: grab;
    user-select: none;
    transition: box-shadow 0.2s;
    box-sizing: border-box;
}
.movable-pop:active {
    box-shadow: 0 1.5vw 3vw 0 rgba(255, 155, 0, 0.55) 
}
.pop-image {
    width: 100%;
    object-fit: cover;       
    -webkit-user-drag: none; 
    user-select: none;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}
.pop-text {
    font-size: 1.5rem;
    color: #ffffff;
    flex: 1;
    padding: 0.5vw;
    text-align: center;
}
.pop-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2.2rem;
    height: 2.2rem;
    background: #e53935;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.pop-close-btn::before, .pop-close-btn::after {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 0.18rem;
    background: #fff;
    left: 50%;
    top: 50%;
    border-radius: 2px;
}
.pop-close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.pop-close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 1200px) {
    body {
        background-size: 100vw auto;
    }
    .navbar img{
        width: 15vw;
    }
    .menu a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
    .welcomeArea {
        display: flex;
        justify-content: flex-start;
        height: 1150px;
        padding: 10px;
    }
    .welcomeTextArea {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
    }
    .welcome-text {
        font-size: 4rem;
    }
    .welcome-text.active {
        font-size: 7rem;
    }
    .welcomeDescriptionArea {
        width: 40%;
        font-size: 4rem;
    }

    .locationArea {
        padding: 1vw;
        width:70vw;
        margin-left: 15vw;
        margin-top: 5vw;
    }
    .locationArea-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .locationArea-subtitle {
        color: #ffff00;
        display: inline;;
        background-color: rgba(0, 0, 255, 0.5);
        border-radius: 50%;
        font-weight: 1000;
        font-size: 5rem;
    }
    .locationArea-text {
        color: #fff;
        margin: 0;
        margin-top: 1vw;
        font-size: 3rem;
    }
    .locationTextArea-text {
        width: 60%;
    }
    .locationArea-map {
        width: 30vw;
        height: 20vw;
        margin: 1vw;
    }
    
    .membersArea {
        padding: 1vw;
        width: 70vw;
        margin-left: 15vw;
    }
    .membersArea-content {
        width: 100%;
    }
    .membersArea-subtitle {
        color: #ffff00;
        display: inline;;
        background-color: rgba(0, 0, 255, 0.5);
        border-radius: 50%;
        font-weight: 1000;
        font-size: 5rem;
    }
    .memberCard {
        width: 90%;
        border-radius: 1vw;
        background-color: #333333;
        box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
        border-style: solid;
        margin: 0.5vw 1vw;
        padding: 1vw;
    }
    .memberName {
        color: #dd0000;
        font-weight: 1000;
        margin: 0 1vw;
        font-size: 3rem;
    }
    .memberText {
        color: #fff;
        margin: 0 1vw;
        font-size: 2rem;
    }
    
    .AwardsArea {
        padding: 1vw;
        width: 70vw;
        margin-left: 15vw;
    }
    .AwardsArea-subtitle {
        color: #ffff00;
        display: inline;;
        background-color: rgba(0, 0, 255, 0.5);
        border-radius: 50%;
        font-weight: 1000;
        font-size: 5rem;
    }
    .AwardsArea-contest {
        color: #dd0000;
        font-weight: 1000;
        margin: 0 1vw;
        margin-left: 4vw;
        font-size: 3rem;
    }
    .AwardsArea-box {
        width: 90%;
        border-radius: 1vw;
        background-color: #333333;
        box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
        border-style: solid;
        margin: 0.5vw 1vw;
        padding: 1vw;
    }
    .AwardsArea-award {
        color: #fff;
        margin: 0 1vw;
        margin-left: 6vw;
        font-size: 2rem;   
    }
    
    .homePageDesplayButton {
        background-color: #222222;
        margin: 1vw 0.1vw 1vw 12vw;
        color: #ffffff;
        font-size: 2rem;
        border-radius: 2vw;
        padding: 1vw;
        box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
        width:30vw;
    }
    
    .sponsorArea {
        border-radius: 1vw;
        padding: 1vw;
        width: 70vw;
        margin-left: 15vw;
        
    }
    .sponsorArea-subtitle {
        color: #ffff00;
        display: inline;;
        background-color: rgba(0, 0, 255, 0.5);
        border-radius: 50%;
        font-weight: 1000;
        font-size: 5rem;
    }
    .sponsorArea-content {
        background-color: #222222;
        margin: 1vw 0.1vw 1vw 0vw;
        color: #ffffff;
        font-size: 4vw;
        border-radius: 2vw;
        padding: 1vw;
        box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 255, 0.5);
        width:90%;
    }
    .sponsorLogo {
        width: 15vw;
    }
    
    .footer {
        background-color: #222222;
        color: #ffffff;
        text-align: center;
        padding: 1vw 0;
        margin-left: -3vw;
        margin-bottom: -3vw;
        font-size: 2rem;
        width: 102vw;
    }
    .support-member-subtitle {
        color: #fff;
        font-size: 2rem;
    }
}